<%= form_for @config, :url => (@config.new_record? ? foreman_virt_who_configure_configs_path : foreman_virt_who_configure_config_path(:id => @config)) do |f| %>
  <%= base_errors_for @config %>
  <div class="tab-content">

    <%= select_f f, :compute_resource_id, ComputeResource.authorized(:view_compute_resources), :id, :to_s %>
    <%= select_f f, :organization_id, Organization.authorized(:view_organizations), :id, :to_s %>
    <%= select_f f, :service_user_id, ServiceUser.authorized(:view_service_users), :id, :username %>
    <%= text_f f, :interval, :help_inline => _("Virt-who run interval in minutes") %>

  </div>

  <%= submit_or_cancel f %>
<% end %>
