<% javascript 'foreman_virt_who_configure/config_edit' %>

<%= form_for @config, :as => 'foreman_virt_who_configure_config', :url => (@config.new_record? ? foreman_virt_who_configure_configs_path : foreman_virt_who_configure_config_path(:id => @config)) do |f| %>
  <%= base_errors_for @config %>

  <%= virt_who_config_form_tabs %>

  <div class="tab-content">

    <% @config.steps.each do |step| %>
      <%= render :partial => "foreman_virt_who_configure/configs/steps/#{step.downcase.tr(' ', '_')}_form", :locals => {:f => f, :step => step} %>
    <% end %>

  </div>

  <%= submit_or_cancel f %>
<% end %>
