<% javascript 'foreman_virt_who_configure/config_edit' %>

<%= form_for @config, :as => 'foreman_virt_who_configure_config', :url => (@config.new_record? ? foreman_virt_who_configure_configs_path : foreman_virt_who_configure_config_path(:id => @config)) do |f| %>
  <%= base_errors_for @config %>

  <div class="tab-content">

    <% @config.steps.each do |step| %>
      <fieldset>
        <h3><%= @config.step_name(step) %></h3>
        <hr>
        <%= render :partial => "foreman_virt_who_configure/configs/steps/#{step.downcase.tr(' ', '_')}_form", :locals => { :f => f } %>
      </fieldset>

    <% end %>

  </div>

  <%= submit_or_cancel f %>
<% end %>
