<% stylesheet 'foreman_virt_who_configure/config' %>
<% javascript 'foreman_virt_who_configure/config_copy_and_paste' %>

<div class="clearfix">
  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <label><%= _("To deploy this configuration. run this script on the target host which has access to Red Hat Satellite Tools repository and will run virt-who reporting, preferably Satellite host:") %></label>
        <p>
          <%= _("On the target virt-who host:") %></br>
          <%= _("1. Copy this configuration script to a safe directory.") %></br>
          <%= _("2. Make the script executable and run it.") %></br>
          <%= _("3. Delete the script.") %></br>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="pull-right">
          <%= link_to _('Edit this configuration'), edit_foreman_virt_who_configure_config_path(@config), :class => 'btn btn-default' %>
          <%= link_to _('Download the script'), deploy_script_foreman_virt_who_configure_config_path(@config), :class => 'btn btn-default' %>
          <%= link_to _('Copy to clipboard'), nil, :class => 'btn btn-default', :onclick => 'virt_who_copy_configuration_to_clipboard($("pre.terminal").html())' %>
        </div>

        <h3><%= _('Configuration script: ') %></h3>
        <pre class="terminal"><%= @config.virt_who_config_script %></pre>
      </div>
    </div>
  </div>
</div>
