<% stylesheet 'foreman_virt_who_configure/config' %>

<div class="clearfix">
  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <label><%= _("Run this script on the target host which has access to Red Hat Satellite Tools repository and will run virt-who reporting, preferably Satellite host:") %></label>
        <p>
          <%= _("On the target virt-who host:") %></br>
          <%= _("1. Copy this configuration script to a safe directory.") %></br>
          <%= _("2. Make the script executable and run it.") %></br>
          <%= _("3. Delete the script.") %></br>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <pre class="terminal"><%= @config.virt_who_config_script %></pre>
      </div>
    </div>
  </div>
</div>

<%= link_to _('Change this configuration'), edit_foreman_virt_who_configure_config_path(@config), :class => 'btn btn-default' %>
