<div class="blank-slate-pf">
  <div class="blank-slate-pf-icon">
    <% title _("Virt-who Configurations") %>
    <%= icon_text("globe", "", :kind => "fa") %>
  </div>
  <h1><%= _('Configs') %></h1>
  <p>
    <%= _("On this page you can define virt-who configurations for your hypervisors.") %></br>
    <%= _("One virt-who configuration represents one config file in /etc/virt-who.d directory and maps to single hypervisor, organization and lifecycle environment.") %></br>
    <%= _("To define a new configuration, click the New Config button and fill in the form. After you provide all required information a virt-who configuration script will be generated. You could either install it manually by copying the script or deploy it on a selected target host through Remote Execution.") %></br>
  </p>
  <div class="blank-slate-pf-main-action">
      <%= new_config_link({}, { :class => "btn btn-primary btn-lg" }) %>
  </div>
</div>
