<div id="config_general_information">
  <%= text_f f, :name, inline_help_popover(_('Name of this configuration, e.g. the name of the hypervisor')) %>

  <% if f.object.organization_id.present? %>
    <%= f.hidden_field :organization_id %>
  <% else %>
    <%= select_f f, :organization_id, Organization.authorized(:view_organizations), :id, :to_s, {}, :label => _('Owner') %>
  <% end %>

  <%= select_f f, :hypervisor_type, ForemanVirtWhoConfigure::Config::HYPERVISOR_TYPES, :first, :last %>
  <%= text_f f, :hypervisor_server, inline_help_popover(hypervisor_server_help_data[f.object.hypervisor_type]).merge(:data => { :help => hypervisor_server_help_data }) %>
  <%= text_f f, :hypervisor_username, inline_help_popover(hypervisor_username_help_data[f.object.hypervisor_type]).merge(:data => { :help => hypervisor_username_help_data })  %>
  <%= password_f f, :hypervisor_password, { :value => f.object.hypervisor_password }.merge(inline_help_popover(_('Account password by which virt-who is to connect to the hypervisor instance.'))) %>
</div>
